body {
    font-family: sans-serif;
}

.header {
    background-color: gray;
    box-shadow: rgba(174, 139, 0, 0.269) 0px 8px 24px;
    font-size: 20px;
    border-radius: 8px;
    color: white;
    padding: 8px;
    padding-right: 18px;
}

.header-links {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 30px;
    justify-content: flex-end;
    flex-wrap: wrap;
}

.header-links a {
    text-decoration: none;
    color: white;
}

.header-links a:visited {
    color: white;
}

.header-links a:hover {
    color: rgb(216, 216, 216);
}

#home-logo {
    font-size: 34px;
    text-shadow: 0px 2px 20px #000000;
    margin-right: auto;
}

.section1 {
    padding: 42px 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 32px;
    color: rgb(58, 58, 58);
    flex-wrap: wrap;
    /* height: 100%; */
}

#sunflowers {
    /* height: 500px; */
    max-width: 100%;
    max-height: auto;
    box-shadow: rgb(196, 165, 63) 0px 8px 24px;
}

.section1 .text {
    max-width: 400px;
}

.section2 {
    display: grid;
    grid-template-columns: repeat(auto-fill, 1fr);
    grid-template-rows: repeat(auto-fill, 1fr);
    align-items: center;
    justify-content: center;
    padding: 5%;
    background-color: rgb(218, 218, 218);
    color: rgb(58, 58, 58);
    gap: 42px;
    /* height: 100%; */
}

/* .section2 .row {
    display: flex;
    gap: 52px;
    flex-wrap: wrap;
    justify-content: flex-end;
} */

/* .section2 .brightness {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

.section2 .saturation {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
}

.section2 .contrast {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
}

.section2 .tint {
    grid-column: 3 / 4;
    grid-row: 3 / 4;
} */

.section2 .adjuster {
    display: flex;
    gap: 32px;
    align-items: center;
    justify-content: flex-end;
    height: 100%;
    flex-wrap: wrap;
}

.section2 h2 {
    color: rgb(58, 58, 58);
    grid-column: 2 / 4;
    justify-self: center;
    margin-bottom: 4%;
} 

.section2 .text {
    color: rgb(58, 58, 58);
    font-size: 22px;
    font-weight: 400;
}

.section2 img {
    /* height: 200px;
    margin-right: 32px; */
    max-width: 100%;
    max-height: 200px;
    /* min-width: 150px; */
    border-radius: 6px;
    box-shadow: rgb(58, 58, 58) 0px 8px 18px;
}

#colosseum {
    background-color: white;
}